.cards{
    text-align: center;
}

.carrocel-de-imagens{
    padding: 1rem 0;
    width: 100%;
    display: flex;      
    overflow-x: auto; 
    gap: .5rem;
    justify-content: space-around;
}

.carrocel-de-imagens::-webkit-scrollbar{
    display: none;
}

.cards img{
    width: 10rem;
    border-radius: .2rem;
    margin-bottom: .4rem;
    transition: transform 450ms;
}
.cards img:hover{
    transform: scale(1.08);
}

.cards-imagens{
    position: relative;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(192, 192, 192, 0.2);    
}

h2{
    font-size: 3vw;
}

